@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes tempbounce {
    0%,
    100% {
        transform: translateY(-5%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply font-medium bg-zinc-50 h-full flex flex-col;
    }
}

@layer utilities {
    .container {
        @apply max-w-[1336px];
    }

    .shadow-winner {
        box-shadow: 8px 8px 0px 0px #000;
    }

    .shadow-faq-active {
        box-shadow: 8px 8px 4px 0px #000000;
    }

    .jumbo-bounce {
        animation-name: tempbounce;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 10;
        animation-iteration-count: 10;
    }

    .cardScroll::-webkit-scrollbar {
        display: none;
    }
}